{% extends "base.html" %}

{% block content %}
<h1>{{name}}'s Profile</h1>
<br>
<section id ="profile">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<img class = "img-circle" src ="https://pbs.twimg.com/profile_images/824716853989744640/8Fcd0bji.jpg" width="200px" height="200px">
				<h2 align = "center" >{{ name }}</h2>

				<table align = "center" width="400" cellspacing = "20" cellpadding="40">
				<tr>
					<td align = "left">Birthday</td>
					<td align = "left">{{ Birthday }}</td>
				</tr>
				<tr>
					<td align = "left">Gender</td>
					<td align = "left">{{ Gender }}</td>
				</tr>
				<tr>
					<td align = "left">Expertise</td>
					<td> <table style="text-align: left">
							<td class="value">{% for ii in Expertise %}<div class = "row-xs-12"><span id="expert" class="expert">{{ii}}</span>{% endfor %}</div>
							</td>
						</table>
					</td>
				</tr>
				<tr>
					<td align = "left">Description</td>
					<td align = "left">{{  Description }}</td>
				</tr>
				<tr>
					<td align = "left">Email</td>
					<td align = "left">{{ Email }}</td>
				</tr> 
				</table>
			</div>
		</div>
	</div>
</section>
</br>

{% endblock %}
