<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'profile:profile' %}" style="font-size: 20px;">LingIn</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" style="float: right; font-size: 18px;">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'updatestatus:index' %}">Status</a></li>
        <li><a href="{% url 'profile:profile' %}">Profile</a> </li>
		    <li><a href="{% url 'addfriend:index' %}">Friends</a> </li>
		    <li><a href="{% url 'stats:stats' %}">Stats</a> </li>
      </ul>
    </div><!--/.nav-collapse -->
</nav>