.butt{
	width: 18% !important;
}	

#input-list{
 padding: 30px 200px 40px 250px;
}
#friend-list{
  padding: 20px 65px 30px 65px;
}

#submit {
  width: 30%;
  text-align: center;
  margin-right: : 50%;
}

@media only screen and (max-width: 768px) {
  #submit-button {
    width: 100%;
  }
  #submit {
    width: 100%;
  }
}

.to-do-list{
  text-align: center;
  background: #fff;
  position: auto;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.to-do-list .to-do-list-title {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
}
.to-do-list .to-do-list-date-added {
  font-size: 12px;
  padding: 0 10px;
}
.to-do-list .to-do-list-description {
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}


/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
.flex {
  display = flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  margin-right: 0px;
  margin-left: 0px;
  }
.flex-item {
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: -15px;
  margin-left: -15px;
  }

.flex-item {
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;

  }
}
