{% extends "base.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/addfriend.css' %}" />
{% endblock %} 

{% block content %}
<section name="input-list" id = "input-list">
		<h1>Add Friends</h1>
        <form class = "form-horizontal" id="form" method="POST" action="{% url 'addfriend:add_friend' %}" style="width: 80%; margin-top: 30px;">
            {% csrf_token %}
            {% for datum in addfriend_form %}
			 <div class="container-fluid">
			  <label class="control-label col-sm-2" for="datum.name">{{datum.label}}:</label>
			  <div class="col-sm-10">
				{{datum}}
			  </div>
			</div>
			{% endfor %}
			<div id="submit-button" style = "padding: 10px 70px 10px 80px; width: 165%;" align = "center">
				<input id="submit" type="submit" class="butt btn btn-lg btn-info" value="Add Friend">
			</div>
        </form>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 style = "text-align: center">Friends List</h2>
		<br/>
        <div class="flex">
            {% if addfriend %}
                {% for data in addfriend %}
                    <div class="flex-item">
                        <div class="to-do-list">
							<br/>
							<img style = "border-radius: 100%; width: 70px; height: 80px;" src="http://www.youthcoalition.org/wp-content/uploads/my_page_default_img-adfe835c1f5d2c834505fd2c411402ea63978141ec42bac99ddf712a1e692bdd.png"" style="width:304px;height:228px;">
						
                            <div class="to-do-list-name" style = "color:blue">
							<br/>
                                {{data.name}}
                            </div>
                            <div class="to-do-list-date-added" style = "color: green">
                                Added  {{data.created_date}}
                            </div>
                            <div class="to-do-list-description" style = "text-align:center;">
                                <a href = {{data.link}}>{{data.link}} </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada Teman.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}