{% extends "base.html" %}

{% block content %}
<h1 class="main-title">Add Friends</h1>
<hr/>
<section name="input-list" id = "input-list">
		<h2>Add Friends</h2>
        <form class = "form-horizonral" id="form" method="POST" action="{% url 'addfriend:add_friend' %}">
            {% csrf_token %}
            {% for datum in addfriend_form %}
			 <div class="container-fluid">
			  <label class="control-label col-sm-2" for="datum.name">{{datum.label}}:</label>
			  <div class="col-sm-10">
				{{datum}}
			  </div>
			</div>
			{% endfor %}
			<div style = "padding: 10px 35px 10px 45px;" align = "right">
				<input id="submit" type="submit" class="butt btn btn-md btn-info" value="Add Friend">
			</div>
        </form>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">My List</h2>
        <div class="flex">
            {% if addfriend %}
                {% for data in addfriend %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="to-do-list-name">
                                {{data.name}}
                            </div>
                            <div class="to-do-list-date-added">
                                Added  {{data.created_date}}
                            </div>
                            <div class="to-do-list-description">
                                <a href = {{data.link}}>{{data.link}} </a>
                            </div>
                             <!--<div class="to-do-list-delete-button" input id="sumbit" type="submit" data-id="{{data.id}}" value="Delete"></div>-->
							<form id="form-{{data.id}}" method="post" action="{% url 'lab-5:remove_todo' %}">
										{% csrf_token %}
								<input type="hidden" name="flag" value="{{data.id}}"/>
								<input id = "submit{{data.id}}" id="delete-{{data.id}}" type="submit" data-id="{{data.id}}" value="Delete" class="to-do-list-delete">
							</form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada Teman.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}