{% extends "base.html" %}

{% block content %}
<br><br><br>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'updatestatus:add_status' %}">
            <p name="status-tagline">What's on your mind?</p>
            {% csrf_token %}
            {{ status_form }}
            <br>
            <input id="submit" type="submit" class="btn btn-lg btn-info" value="Submit">
            <br>
        </form>
    </div>
</section>

<section name="my-list" id="my-list">
    <div class="container">
    <br><br>
        <div class="flex">
            {% if status %}
                {% for data in status %}
                    <div class="flex-item">
                        <div class="status">
                            <div class="prof-pic"><img src="https://pbs.twimg.com/profile_images/824716853989744640/8Fcd0bji.jpg" width="50px" height="50px" style="border-radius: 50%"></div>
                            <a href="/updatestatus/delete_status/{{ data.id }}" class="close" style="margin-top: -40px;margin-right: 10px">
                                <img src="http://www.clker.com/cliparts/0/7/e/a/12074327311562940906milker_X_icon.svg.hi.png" width="20px" height="20px"></img>
                            </a>
                            <div class="name" style="font-size: 20px">{{name}}</div>
                            <div class="status-description" style="font-size: 18px;margin-top: 10px">
                                {{data.description}}
                            </div>
                            <div class="status-date-added" style="color: grey">
                                {{data.created_date}}
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Status.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}