{% extends "base.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/addfriend.css' %}" />
{% endblock %} 

{% block content %}
<!-- <h1 class="main-title">Add Friend</h1> --> 
<hr/>

<section name="input-list" id = "input-list">
		<h2>Add Friends</h2>
        <form class = "form-horizonral" id="form" method="POST" action="{% url 'addfriend:add_friend' %}">
            {% csrf_token %}
            {% for datum in addfriend_form %}
			 <div class="container-fluid">
			  <label class="control-label col-sm-2" for="datum.name">{{datum.label}}:</label>
			  <div class="col-sm-10">
				{{datum}}
			  </div>
			</div>
			{% endfor %}
			<div style = "padding: 10px 35px 10px 45px;" align = "right">
				<input id="submit" type="submit" class="butt btn btn-md btn-info" value="Add Friend">
			</div>
        </form>
</section>

<section name="my-list" id = "friend-list">
	<h2> List Friend </h2>
	{% if addfriend %}
	<table class="table">
		<thead>
			<th>Nama:	</th>								
			<th>Link: </th> 									
			<th>Ditambahkan pada: </th>
		</thead>
		{% for data in addfriend %}	
			<tr>
			<td class="add-friend-input" >
				{{data.name}}
			</td>
			<td class="add-friend-input">
			<a href = {{data.link}}>{{data.link}} </a>
			</td>
			<td class="add-friend-input">
				Added  {{data.created_date}}
			</td>
			</tr>
		{% endfor %}
	</table>
	{% else %}
	<div class="alert alert-danger text-center">
		<strong>Oops!</strong> Tidak ada data Teman.
	</div>
	{% endif %}
</section>

{% endblock %}
