body {
  margin-top: 70px;
  background: #00a8c5; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #00a8c5, #ffff7e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #00a8c5, #ffff7e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #00a8c5, #ffff7e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #00a8c5, #ffff7e); /* Standard syntax */
}

.container {
  width: 70%;
}

#input-list form {
  margin: 0px auto;
  text-align: center;
  position: relative;
  padding: 20px 30px;
  border: 0 none;
}

#input-list form > input {
  width: 150px;
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
}

#my-list .status-date-added {
  font-size: 11px;
  text-align: right;
}

input, button, select, textarea {
  width : 100%;
}
.name{
  margin-top: -35px;
  margin-left: 60px;
  padding-top: 0px;
  padding-bottom: 10px;
}

p {
  text-align: left;
  font-size: 25px;
}

.status {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px
}

form {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 5px
}

h1 {
  text-align: center;
  margin-top: 50px;
}