{% extends "base.html" %}

{% block content %}
<style type="text/css">
	.image{
		border-radius:90%;
		width: 300px;
		height: 300px;
		margin:auto;
		display: block;
	}
	.feed{
		font-size:28px;
		text-align:center;
	}
	h1{
		margin-top: 50px;
		text-align: center;
	}
</style>
<h1>Statistics</h1>
<section name ="profile" style="margin-top: 25px">
	<img src="https://pbs.twimg.com/profile_images/824716853989744640/8Fcd0bji.jpg" class="image"	alt="My image"/>
	<p class = "feed"> {{name}}</p>
</section>

<p class = "feed"><strong>Friends: {{friendz}}</strong><p>
<p class = "feed"><strong>Feed: {{feed}}</strong><p>
<hr/>
<section name="latest" class="container" style="width:80%">
	<h2>Latest Post</h2>
	{% if status %}
		<div class="flex-item">
			<div class="status">
				<div class="status-description" style="color: blue">
					{{status.description}}
				</div>
				<div class="status-date-added">
					{{status.created_date}}
				</div>
			</div>
		</div>
	{% else %}
		<p>Tidak ada data Status.</p>
	{% endif%}
</section>
<hr/>
<hr/>
{% endblock %}
