{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Update Status">
    <meta name="author" content="Kelompok 5C">
    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/updatestatus.css' %}" />

    <title>
        {% block title %} LingIn | Update Status {% endblock %}
    </title>
</head>
<style type="text/css">
    body {
        background: red; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(-90deg, #00a8c5, #ffff7e); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-90deg, #00a8c5, #ffff7e); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-90deg, #00a8c5, #ffff7e); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-90deg, #00a8c5, #ffff7e); /* Standard syntax */
    }
</style>
<body>
    <header>
        {% include "partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
            <!-- content goes here -->
            {% endblock %}
        </div>
    </content>
    <footer>
        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock %}
    </footer>
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>