@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  margin-top: 70px;
  font-family: Nunito Sans;
}

.container {
  width: 80%;
}

#input-list form {
  width: 450px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  padding: 20px 30px;
  border: 0 none;
}

#input-list form > input {
  width: 150px;
  font-size: 15px;
  padding: 10px;
}

#my-list {
  background-color: #f1f1f1;
  padding: 20px;
}

#my-list .status-date-added {
  color: grey;
  font-size: 11px;
}